name: Main
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: "ubuntu-20.04"
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.19'

      - name: Print Go Version
        run: go version

      - name: Compute Version
        id: version
        run: |
          echo ${GITHUB_REF}
          tag=${GITHUB_REF#refs/tags/}
          publish="no"
          if [ "${tag}" != "${GITHUB_REF}" ]; then
            tag=$(echo "${tag}" | sed -e 's/[^a-zA-Z0-9\-\.]/-/g')
            version=${tag}
            publish="yes"
          fi

          branch=${GITHUB_REF#refs/heads/}
          if [[ -z "${version}" && "${branch}" != "${GITHUB_REF}" ]]; then
            branch=$(echo "${branch}" | sed -e 's/[^a-zA-Z0-9\-\.]/-/g')
            version=${branch}
            if [[ ${branch} = "master" || "${branch}" = "develop" ]]; then
              publish="yes"
            fi
          fi

          pr=${GITHUB_REF#refs/pull/}
          if [[ -z "${version}" && "${pr}" != "${GITHUB_REF}" ]]; then
            pr=$(echo "${pr}" | sed -e 's/[^a-zA-Z0-9\-\.]/-/g')
            version=${pr}
          fi

          if [ -z "${version}" ]; then
            echo "Version could not be determined" >&2
            exit 1
          else
            echo CI_VERSION::${version} >> $CI_VERSION
            echo PUBLISH::${publish} >> $PUBLISH
          fi

      - name: Build
        run: |
          if [[ ${PUBLISH} = "yes" ]]; then
            make release
          else
            make
          fi

      - uses: google-github-actions/setup-gcloud@v0
        if: ${{ steps.version.env.PUBLISH == 'yes' }}
        with:
          version: '290.0.1'
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Publish
        if: ${{ steps.version.env.PUBLISH == 'yes' }}
        run: |
          cd ./release;
          gsutil -m -q cp -r -a public-read . gs://boxops/dockcmd/releases/

      - name: Set up QEMU
        if: ${{ steps.version.env.PUBLISH == 'yes' }}
        uses: docker/setup-qemu-action@v2

      - name: Set up Buildx
        if: ${{ steps.version.env.PUBLISH == 'yes' }}
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: --debug

      - name: Login to Docker HUB
        if: ${{ steps.version.env.PUBLISH == 'yes' }}
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Login to GitHub Container Registry
        if: ${{ steps.version.env.PUBLISH == 'yes' }}
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.BOXBOAT_GITHUB_PUBLISH_TOKEN }}

      - name: Build and push
        if: ${{ steps.version.env.PUBLISH == 'yes' }}
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            boxboat/dockcmd:${{ steps.version.env.CI_VERSION }}
            ghcr.io/boxboat/dockcmd:${{ steps.version.env.CI_VERSION }}

#      - name: Docker Hub Release
#        if: ${{ steps.version.outputs.PUBLISH == 'yes' }}
#        run: make docker
#        env:
#          CI_VERSION: ${{ steps.version.outputs.CI_VERSION }}
